<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    
    <bean id="Car" class="com.javabean.CarImpl" scope="prototype"></bean>
    <bean id="worker" class="com.javabean.DemoWorker"></bean>
    <bean id="CarEnhance" class="com.javabean.CarEnhance"></bean>
    
    <aop:config>
       <!--  配制切点 -->
        <!-- <aop:pointcut expression="execution(* com.javabean.CarImpl.run(..))" id="enhancerun"/>
        <aop:pointcut expression="execution(* com.javabean.CarImpl.stop(..))" id="enhancestop"/> -->
       <!--  配制切面 -->
        <!-- <aop:aspect ref="CarEnhance">
            <aop:before method="enhancerun" pointcut-ref="enhancerun"/>
            <aop:around method="enhancestop" pointcut-ref="enhancestop"/>
        </aop:aspect> -->
    </aop:config>
</beans>